
.project-card{
  background-color:rgb(248 248 250);
  overflow:hidden;
  padding-bottom:50%;
  p {
    max-width:75%;
  }
}

.scrolling-img{
    border-radius:10px;
    max-height:20rem;
    max-width:75%;
    position:absolute;
    bottom:-40px;
    right:0;
    align-self: flex-end;
    transform:rotate(-10deg);
    border-radius:10px;
    overflow: hidden;
}
